<h1>Confirmation Page</h1>

{{#if create_error}}
  <h3>Your code still contains the following error:</h3><br>
  <p>{{create_error}}</p>
{{/if}}

<div id='preview'>
  <form action='/create/engrave' method='post' autocomplete='off'>
    <p>Give your exercise a name:</p>
    <input type='text' name='exercise_name' size='80' value='{{exercise_title}}' required><br><br><br><br>
    <p>Preview of your exercise:</p><br>
    <div id='div_png'>
      <img id='exercise_png_preview' class='latexcode_png' src={{exercise_png}} onerror="'Something went wrong. Please go back to the previous page and do not submit your exercise now.';">
      <input type='hidden' name='exercise_png_string' value='{{exercise_png}}'>
    </div>
    <br><br><br>
    {{#if solution_latexcode}}
      <p>Preview of the solution to your exercise:</p><br>
      <div id='div_png'>
        <img id='solution_png_preview' class='latexcode_png' src={{solution_png}} onerror="'Something went wrong. Please go back to the previous page and do not submit your exercise now.';">
        <input type='hidden' name='solution_png_string' value='{{solution_png}}'>
      </div>
      <br><br><br><br>
      <input type='hidden' name='solution_packages' value='{{solution_packages}}'>
      <input type='hidden' name='solution_latexcode' value='{{solution_latexcode}}'>
    {{/if}}
    <p>Selected Tags: {{#if tags}}
        {{#each tags}}[{{this}}] {{/each}}
        {{else}}none{{/if}}</p>
    <input type='hidden' name='tagselect' value='{{tags}}'>
    <input type='hidden' name='exercise_packages' value='{{exercise_packages}}'>
    <input type='hidden' name='exercise_latexcode' value='{{exercise_latexcode}}'>
    
    <br><br><br>
    <input type='submit' value='Create exercise!'>
  </form>
</div>



<script>
  $(document).ready(function() {
      $('.mainselect').select2();
  });
</script>