<h1>SUCCESS</h1>

<p>You successfully created the exercise. It looks like this:</p>
<br>
<p>Name: {{exercise_name}}</p>
<p>Tags: {{#if tags}}
  {{#each tags}}[{{this}}] {{/each}}
  {{else}}none{{/if}}</p>

<p>Exercise:</p>
<div id='div_png'>
  <img id='exercise_png_preview' class='latexcode_png' src='{{exercise_png}}' alt='compiled LaTeX code for the exercise'>
</div>
<br>
{{#if solution_png}}
  <p>Solution</p>
  <div id='div_png'>
    <img id='solution_png_preview' class='latexcode_png' src='{{solution_png}}' alt='compiled LaTeX code for the solution'>
  </div>
<br><br><br>
{{/if}}
<form action='/' method='get'>
  <input type='submit' value='Go to Frontpage'>
</form>
<form action='/search' method='get'>
  <input type='hidden' name='selecttag' value='All'>
  <input type='submit' value='Go to Search/All'>
</form>