<br>
<div id='div_search'>
  <form action='/search' method='get'>
    
    Tags:
    <select class='mainselect' name='selecttag' multiple='multiple'>
      {{#each taglist}}
        <option value='{{this.tag}}' {{#if this.selected}}selected{{/if}}>{{this.tag}}</option>
      {{/each}}
    </select>
    <br><br>
    Headline:
    <input type='text' id='headline_search' name='headline_search' style='margin-left: 5px; width: 35%' value='{{headline_search}}'>
    <br><br>
    Text:
    <input type='text' id='code_search' name='code_search' style='margin-left: 35px; width: 35%' value='{{code_search}}'>
    <br><br>
    <input type='submit' value='Search!'>
  </form>
</div>

{{#if selectedtag}}
<div id='search_result'>
  {{#each result}}
    <div class='search_result_exercise'>
      <p><b>{{this.name}}</b></p>
      <div class='search_result_png_border'>
        <img class='search_result_png' src={{this.png}}>
      </div>
      <p>Tags: {{#if this.tags}}
        {{#each this.tags}}[{{this}}] {{/each}}
        {{else}}none{{/if}}</p>
      <form action={{this.public_id}} method='get'>
        <input type='submit' id='exercise_link' value='Details'>
      </form>
    </div>
    <br>
  {{/each}}
</div>
{{/if}}

<script>
  $(document).ready(function() {
      $('.mainselect').select2();
  });
</script>