<br>
<div id='div_search'>
  <form action='/search' method='get'>
    
    <select class='mainselect' name='selecttag' multiple='multiple'>
        <option value='All'>All</option>
      {{#each taglist}}
        <option value='{{this}}'>{{this}}</option>
      {{/each}}
    </select>
    Press Tab -> Enter for fast searching!
    <br><br>
    <input type='submit' value='Search!'>
  </form>
</div>

{{#if selectedtag}}
<div id='search_result'>
  <h3>Results for tags: "{{selectedtag}}"</h3>
  {{#each result}}
    <div class='search_result_exercise'>
      <p><b>{{this.name}}</b></p>
      <div class='search_result_png_border'>
        <img class='search_result_png' src={{this.png}}>
      </div>
      <p>Tags: {{#if this.tags}}
        {{#each this.tags}}[{{this}}] {{/each}}
        {{else}}none{{/if}}</p>
      <form action={{this.public_id}} method='get'>
        <input type='submit' id='exercise_link' value='Details'>
      </form>
    </div>
    <br>
  {{/each}}
</div>
{{/if}}

<script>
  $(document).ready(function() {
      $('.mainselect').select2();
  });
</script>