{{#if exercise_error}}
  <h2>{{exercise_error}}</h2>
{{else}}

  {{#if exercise}}

    <div class='exercises_details_div'>
      <h1>{{exercise.name}}</h1>
      <div id='exercise_png'>
        <img class='exercises_details_png' src={{exercise.png}}>
      </div>
      <p>Tags: {{#each exercise.tags}}{{this}} {{/each}}</p>
      <p>Author: {{exercise.author}}</p>
      <br>
      <button onclick='showHidden()'>Show Source Code</button>
      <div id='hiddenSourceCode' style='display: none'>
        <pre id='code'>{{exercise.packages}}</pre>
        <pre id='code'>{{exercise.code}}</pre>
      </div>
      <br>
      <br>
    </div>

    {{#if exercise.same_name_check}}
      <p>You are the author and can edit the exercise:</p>
      <form action='../edit_details' method='post'>
        <input type='submit' value='Edit Exercise'>
        <input type='hidden' name='hidden_id' value={{exercise.public_id}}>
      </form>
    {{/if}}

  {{else}}
    <p>Exercise ID missing</p>
  {{/if}}
{{/if}}



<script>

  function showHidden() {
    var x = document.getElementById('hiddenSourceCode');
    if (x.style.display === 'none') {
      x.style.display = 'block';
    } else {
      x.style.display = 'none';
    }
  }

</script>