{{#if exercise.same_name_check}}

{{#if exercise}}

  <div class='exercises_details_div'>
    <h1>{{exercise.name}}</h1>
    <div id='div_png'>
      <img class='latexcode_png' src={{exercise.png}}>
    </div>
    <p>Tags: {{#each exercise.tags}}{{this}} {{/each}}</p>
    <p>Author: {{exercise.author}}</p>
    <br>
    {{#if exercise.same_name_check}}
      <form action={{exercise.public_id}} method='get'>
        <input type='submit' value='Finish editing'>
      </form><br><br><br>

      <form action='/exercises/change_tags' method='post'>
        <select class='details_select_tags' name='changing_tags' multiple='multiple'>
          {{#each taglist}}
            <option value={{this}}>{{this}}</option>
          {{/each}}
        </select>
        <input type='submit' value='Change tags'>
        <input type='hidden' name='hidden_id' value={{exercise.public_id}}>
      </form><br>

      <br><br><br><br><br><br><br><br><br><br><br><br>
      <form action='/exercises/delete' method='post'>
        <input type='submit' onclick='return confirm("Are you sure you want to delete this exercise?");' value='Delete Exercise'>
        <input type='hidden' name='hidden_id' value='{{exercise.public_id}}'>
      </form>
    {{/if}}
  </div>


{{else}}
  <p>Exercise ID missing</p>
{{/if}}

{{/if}}

<script>
  $(document).ready(function() {
      $('.details_select_tags').select2();
  });
</script>